!!! 5
%html
  %head
    %title
      Andreea
    %meta{:content => "my first website", :name => "description"}
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta{:charset => "utf-8"}
    %link{:href => "css/normalize.css", :rel => "stylesheet"}
    %link{:href => "/css/font.css", :rel => "stylesheet"}
    %link{:href => "/styles.css", :rel => "stylesheet"}
    %script{:src => "js/jquery.js"}
    %script{:src => "js/scripts.js"}
  %body
    %aside.profile
      %img.moi(src="images/moi.png")
      %section.social-media
        %ul
          %li
            %a(href="http://twitter.com/trrpaipai" target="_blank") Twitter
          %li
            %a(href="http://facebook.com/" target="_blank") Facebook
          %li
            %a(href="http://therednose.tumblr.com/" target="_blank") Tumblr
          %li
            %a(href="http://www.mixcloud.com/andreea-magdalina/" target="_blank") Mixcloud
    %article#content
      %h1 Andreea Magdalina
      %p Lorem Elsass ipsum Miss Dahlias dui suspendisse condimentum Chulia Roberstau leo flammekueche Richard Schirmeck chambon tellus consectetur und id, nüdle commodo Hans non Strasbourg sit hopla météor in, ac pellentesque vielmols, Heineken turpis réchime messti de Bischheim Huguette varius Racing. ante amet, et tchao bissame semper morbi Oberschaeffolsheim geht's aliquam eget lotto-owe turpis, non Pfourtz ! Oberschaeffolsheim amet Wurschtsalad Yo dû.

      %section#working
        %h2
          %aside
          .info
            Working
        %p
          %ul
            %li Enternships
            %li Brainjuicer
      %section#learning
        %h2 Learning
      %section#listening
        %h2 Listening
      %section#whatching
        %h2 Watching
      %section#going
        %h2 Going
      %section#reading
        %h2 Reading
