/* 
 *p means selecting all paragraphs in the page
 *
 *Tag selector: choose all <p>; 
 *
 *#changes the style in a specific id

/* Typography

a
  color: #FF00DD
  &:hover
    color: #444444

section h1
  cursor: pointer

#site-header
  text-align: center
  h1
    color: #C92034
    font-size: 39px
    font-weight: bolder
    margin: 0
  h2
    color: 2E6E82
    font-size: 14px

/* Layout

body
  /* .. means 2 folders back; ... means 3 folders back
  background: #c1d9e0 url(/images/background.jpg)
  background-position: center
  background-attachment: fixed
  background-repeat: no-repeat
  background-size: cover

#main
  width: 600px
  background: #eeeeee
  /* direction of margin: top right bottom left (clockwise)
  /* HOW TO CENTER THINGS
  margin: 0 auto 0 auto
  padding: 20px 40px

#site-header img
  width: 400px
  margin: 20

/* . is for class, while # is for id

.content
  display: none
  /* to hide the whole element
