@mixin cf
  &:after
    content: '.'
    display: block
    height: 0
    width: 0
    visibility: hidden
    clear: both

body
  font-family: 'proxima-nova', sans-serif

ul
  padding: 0
  li
    list-style: none

aside.profile
  width: 27%
  float: left
  position: relative
  padding: 3%
  +cf

  .moi
    width: 100%
    max-width: 300px

article#content
  margin-left: 33%
